*{
	margin: 0;
	padding: 0;
	
}

body
{
	background-image: url(../image/16.jpg);
	background-repeat: no-repeat;
	background-size: 100% 200%;
	position: right;
	
	
}

h1
{
	color: black;
	text-align: center;
	font-style: normal;
	padding: 20px;
	
}



lable
{
	color: white;
	font-size: 20px;
	font-style: normal;
}
.reg
{
	width: 40%;
	margin: auto;
	background-color: rgb(0,0,0,0.4);
	position: absolute;
	right: 0px;
}
#reg
{
	width: 60%;
	margin: auto;
}

.name
{
	width: 300px;
	outline: 0;
	padding;5px;
	border:3px groove;
	position: right;
}

#ma
{
	color: white;
	font-size: 20px;
	font-style: normal;
	
}

#ch
{
	color: white;
	font-size: 20px;
	font-style: normal;
}