body
{
	margin: 0;
	padding: 0;
	font-family: 'Lato',sans-serif;
	font-size: 16px;
	background-image: url(../image/5.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
		'
}

.nav
{
	width: 100%;
	background-color: darkslategray;
	colour:#fff;
	
}
.menu
{
	outline-width: 45px;
	font-weight: 700;
	text-transform: uppercase;
}
.nav ul
{
	list-style: none;
	margin: 0;
	padding:0;
}

.nav .menu .menu_item
{
	display: inline-block;
	position: relative;
	
	
	
}

.menu_item:hover
{
	background-color: darkgrey;
}


.nav .menu .menu_item a
{
	padding: 12px 24px;
	cursor: pointer;
	text-decoration: none;
	color: #fff;
	display: block;
}


.menu_item:hover
{
	display: block;
}
